doctype html
html
  head
    meta(charset="UTF-8")
    title Bus Dashboard
    //- link(rel="stylesheet" href="styles/main.css")
    //- link(rel="icon" type="image/x-icon" href="img/favicon.ico")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js")

    script.
      //- on page load display some little utility bar with the time last updated, and maybe to next updated

      //- every so often, refersh the page location.reload();

      //- There needs to be a night mode or something that
      //-  1 - shows that there are no buses upcoming
      //-  2 - can differentiate between "there are no buses because night" and "there are no buses because the tool failed"

      // CONFIG ///////////////////////

      // API key for Puget Sound onebusaway
      // https://www.soundtransit.org/Open-Transit-Data
      // note: TEST is actually a valid key heh
      var APIKey = "TEST";
      
      // ID for a stop
      // Find your stop with a map: http://pugetsound.onebusaway.org/where/standard/index.action
      // The URL for a stop's time timetable will contain the ID.
      var stopID = "1_36510";

      /////////////////////////////////

      function getTimes(){

        var APIURL = "http://api.pugetsound.onebusaway.org/api/where/arrivals-and-departures-for-stop/" + stopID+ ".json?key=" + APIKey;

        $.ajax({
        url: APIURL,
        dataType: 'jsonp',
        success: function(data){

          var results = _.get(
              data, 
              "data.entry.arrivalsAndDepartures", 
              "FAILED"
            );

          console.log("got " + results.length + " scheduled arrivals");

          //- container for all arrival times
          var times = [];

          //- for every entry in scheduled arrivals
          for(var i = 0; i < results.length; i++){
            //- get arrival time
            var arrivalTime = results[i].scheduledArrivalTime;
            
            //- store arrival time
            times.push(arrivalTime);
            
            //- Log this
            console.log("bus " + (i+1) + " scheduled for: " + arrivalTime);
          };
          
          return times;
        }
      });
      }

      getTimes();

    style.

  body
