doctype html
html
  head
    meta(charset="UTF-8")
    title Bus Dashboard
    //- link(rel="stylesheet" href="styles/main.css")
    //- link(rel="icon" type="image/x-icon" href="img/favicon.ico")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js")

    script.
      //- on page load display some little utility bar with the time last updated, and maybe to next updated

      //- every so often, refersh the page location.reload();


      $(document).ready(function(){

      });


      var APIKey = "TEST"; // note: TEST is actually a valid key heh
      
      var stopID = "1_36510";

      var APIURL = "http://api.pugetsound.onebusaway.org/api/where/arrivals-and-departures-for-stop/" + stopID+ ".json?key=" + APIKey;

      $.ajax({
        url: APIURL,
        dataType: 'jsonp',
        success: function(data){

          var results = _.get(
              data, 
              "data.entry.arrivalsAndDepartures", 
              "FAILED"
            );

          console.log("got " + results.length + " scheduled arrivals");

          //- container for all arrival times
          var times = [];

          //- for every entry in scheduled arrivals
          for(var i = 0; i < results.length; i++){
            //- get arrival time
            var arrivalTime = results[i].scheduledArrivalTime;
            
            //- store arrival time
            times.push(arrivalTime);
            
            //- Log this
            console.log("bus " + (i+1) + " scheduled for :" + arrivalTime);
          };
          
          $( "<ul/>", {
            "class": "times",
            html: times.join( " <br/>" )
          }).appendTo( "body" );
        }
      });

    style.

  body
